//- about.pug : About Page 
//- My Portfolio , Japkaran Singh
extends layout

block content
  div.jumbotron
    h1 My Career Objective
    p Solutions-oriented Computer Programmer Undergraduate want to grow professionally and use my versatile skills to help promoting corporate mission and exceeding team goals while working as a co-op student for company’s growth, success and achieving goals

  div.jumbotron
    h1 My Skills
    ul
      li Programming languages: C, C++, Java, C#
      li Web Technologies: HTML5, CSS, PHP, JavaScript, ASP.NET, JSON, AJAX, MVC
      li Cloud/ local platforms: Microsoft Azure, AWS, GitHub, FileZilla, XAMP
      li Database tools: MS SQL, MySQL, NoSQL, DB2, Oracle DB
      li Computer literate: Microsoft Word, Microsoft Excel, Outlook, Window 10, PowerPoint
      li Development platforms: Desktop, Mobile, Web and Mainframe Systems, Embedded Systems
      li Software: NetBeans IDE/ Eclipse IDE, MS Visual Studio, z/OS, Visual Studio code, MySQL, SSMS, Packet Tracer, GitHub