//- footer.pug : common footer for all as partial view
//- My Portfolio , Japkaran Singh
hr
div(style='position: relative; bottom: 0; background-color: lightblue; width: 100%;')
 br
 h5(style='text-align: center;') Student Name : Japkaran Singh || Student Number : 200395867
 h6(style='text-align: center;') My Portfolio
 br