extends layout

block content
	div(style='width:95%;margin:auto;text-align:center;')
		h1(style='border-bottom: 1px dashed black; text-decoration: underline') Japkaran Singh
		p(style='text-align: justify;text-justify: inter-word; width: 60%; margin: auto;')
			| Hello Everyone, This is my Portfolio.
			| i am from Amritsar Punjab currently living in Barrie Ontario
			| During my program, I have developed proficiency in languages such as SQL, C# and ASP .Net. I also have a strong knowledge of Node.js, AWS, HTML, JavaScript and CSS. For my academic projects, I have worked with .Net framework and troubleshot C# programs. I have excellent skills in the field of Microsoft Office tools like Excel and PowerPoint. I enjoy being challenged and working on projects that require me to work outside my comfort zone. I continue to learn new languages and development techniques through various online resources to keep up with the growing IT industry.
		hr
		| For More Information : 
		a(href='/about',style='color: blue;') Go To About Me->>>
		br
		| To Contact : 
		a(href='/contact',style='color: blue;') Go To Contact->>>