//- project.pug : projects page
//- My Portfolio , Japkaran Singh
extends layout

block content
	div(style='width:95%;margin:auto;text-align:center;')
		h1(style='border-bottom: 1px dashed black; text-decoration: underline') My Projects
		.container
			table.table
				thead
					tr
						th Projects List
				tbody
					tr
						td Water sensor project display show using Arduino
					tr
						td Created well-structured, interactive web pages using HTML, CSS, JavaScript to develop a website
					tr
						td A Basic website for an Old Television and Radio involved coding in HTML, CSS and JavaScript supported the designing and Dynamic webpages
					tr
						td An Application based on Scrabble game in NetBeans IDE experimenting with Java, XML, GUI. Created a Web Application for the purchase of Videogames and related merchandise with utilizing 
					tr
						td A PHP based website with sign in and password encrypted email validation experimenting with DOM and database to store and retrieve user’s account information.
					tr
						td ASP.Net, scaffolding different CRUD based tables, Unit Testing, JSON and AJAX 
					tr
						td LED knight rider’s display show using Arduino and display various light patterns
