//- services.pug : services page
//- My Portfolio , Japkaran Singh
extends layout

block content
	div(style='width:95%;margin:auto;text-align:center;')
		h1(style='border-bottom: 1px dashed black; text-decoration: underline') Services
		.card.text-center
			.card-header
				| App Development Canada (ADC)
			.card-body
			h5.card-title Digital Account Specialist
			p.card-text 
				ul
					li Web Development
					li Practicing with Coding in order to work in a fast environment
					li Client management
					li Content Creation with the help of C# and ASP.Net
			.card-footer.text-muted
				| September 2019 – December 2019
		br
		.card.text-center
			.card-header
				| Walmart
			.card-body
			h5.card-title Cashier 
			p.card-text 
				ul
					li Managing cash register
					li Behaving to the customers in a friendly attitude
					li Giving daily reports to the CSM about the day
					li Interacting with over 50 customers per day, improving their experience by building strong relationships with a friendly rapport
			.card-footer.text-muted
				| February 2019 -Present
		br
		.card.text-center
			.card-header
				| Walmart
			.card-body
			h5.card-title Customer Service Specialist
			p.card-text 
				ul
					li Collecting and delivering orders to the customers
					li Dealing with phone calls
					li Maintained records of all orders delivered to the customers
			.card-footer.text-muted
				| August 2018 – February 2019
		br